@import "tailwindcss";

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .safe-area-bottom {
    padding-bottom: max(env(safe-area-inset-bottom), 0.5rem);
  }
}

html, body {
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
